a, a:visited {
    outline:none;
    color:#1c4f64;
}

a:hover{
    text-decoration:none;
}

a.arrow{
    width:33px;
    height:33px;
   /* background:url('../img/arrows.png') no-repeat;*/
    position:absolute;
    top:50%;
    opacity:0.9;
}

a.arrow:hover{
    opacity:1;
}

a.arrow.previous{
    background:url('../img/arrows_previous.png') no-repeat;
    transform: scale(1.5);
    left:50%;
    background-position:0 0;
    margin-left:-35%;
}

a.arrow.next{
    background:url('../img/arrows_next.png') no-repeat;
    transform: scale(1.5);
    right:50%;
    background-position:0 0;
    margin-right:-35%;
}