*{
  margin: 0;
  padding: 0;
}

/* Action we're hiding */
.animate-fade.ng-hide-add {
  transition: all 1s ease;
  opacity: 1;
}

.animate-fade.ng-hide-add-active {
  opacity: 0;
}

/* Action we're showing */
.animate-fade.ng-hide-remove {
  transition: all 1s ease 1s;
  opacity: 0;
}

.animate-fade.ng-hide-remove-active {
  opacity: 1;
}

.animate-fade.ng-hide-add, .animate-fade.ng-hide-remove {
  display: block !important;
}

.animate-fade {
  position: absolute;
}