<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Example - example-select-ngrepeat-production</title>


    <link rel="stylesheet" href="css/layout.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <script src="app/app.js"></script>



</head>
<body ng-app="ngrepeatSelect">
<div ng-controller="ExampleController" class="container">
    <h1>Normalize Matrix</h1>
    <div class="ex">
    <form name="myForm" class="form1">
        <select name="selectRow" id="selectRow" ng-model="rows" ng-init="rows=data.availableOptions[1].id">
            <option ng-repeat="option in data.availableOptions" value="{{option.id}}">{{option.name}}</option>
        </select>
    </form>
    <form class="form1">
        <select name="selectColumn" id="selectColumn" ng-model="columns" ng-init="columns=data.availableOptions[1].id">
            <option ng-repeat="option in data.availableOptions" value="{{option.id}}">{{option.name}}</option>
        </select>
    </form>
    </div>
    <div>
        <form ng-submit="submitMyForm()">
            <table class="table">
                <tbody>
                <tr ng-repeat="dim in dimensions | filter: rows">
                    <td ng-repeat="dim in dimensions | filter: columns"><input type="text"></td>
                </tr>
                </tbody>
            </table>
        <input type="submit" class="button1" value="Resolve">
        </form>
        <table class="table">
            <tbody>
            <tr ng-repeat="row in fromJSON">
                <td ng-repeat="col in row">{{col}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>