<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Static Analyzer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--CSS Styles-->
    <link rel='stylesheet' type='text/css' href="assets/css/fonts.css" />
    <link rel='stylesheet' type='text/css' href="assets/css/bootstrap.min.css" />
    <link rel='stylesheet' type='text/css' href="assets/css/style.min.css" />

    <!--Include javascript Angular library-->
    <script src="assets/libs/angular/angular.min.js"></script>
    <script src="assets/libs/angular/angular-animate.min.js"></script>


    <!--Custom files with javascript logic-->
    <script src="app/app.js"></script>

</head>
<body ng-app="ngApp" ng-controller="MatrixCtrl">

<div class="row margin_top_50">
    <div class="col-md-3 col-xs-2"></div>
    <div class="col-md-6 col-xs-8">
        <h1 class="title js-title">Normalize Matrix</h1>
        <div class="table margin_top_20" ng-show="showBlock">
                <div class="thead">
                    <div class="tr">
                        <div class="td">
                            <select class="select" ng-model="rows" ng-options="option.value as option.select for option in options" ng-change="select()"></select>
                        </div>
                        <div class="td">
                            <select class="select" ng-model="columns" ng-options="option.value as option.select for option in options" ng-change="select()"></select>
                        </div>
                    </div>
                </div>
                <div class="tbody margin_top_10">
                    <div class="tr" ng-repeat="row in rowsMatrix">
                        <div class="td" ng-repeat="column in columnsMatrix">
                            <input class="input js-f-input" type="text"/>
                        </div>
                    </div>
                </div>
        </div>
        <div ng-hide="showBlock">
            <div class="table">
                <div class="tbody">
                    <div class="tr" ng-repeat="row in data">
                        <div class="td" ng-repeat="col in row track by $index">{{col}}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="btn btn-primary btn--form margin_top_10" ng-click="submit()">
            <span class="btn__text js-t-btn"></span>
        </div>
    </div>
    <div class="col-md-3 col-xs-2"></div>
</div>

</body>
</html>